body {
    background-color: pink;
  }
.img-bg {
    mix-blend-mode: multiply;
    filter: contrast(1);
    display: block;
}
.title {
    mix-blend-mode: multiply;
    filter: contrast(1);
    display: block;
    width: 500px;
    height: 250px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    flex-direction: column;
}
p {
    margin-top: 5px;
}
button {
    /* margin-top: 10px; */
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    position: relative;
}
button:hover {
    opacity: 0.8;
}
  
.button-container {
    display: flex;
}
#yes {
    margin-right: 10px;
    background-color: green;
}
#no {
    background-color: red;
    position: relative;
}
.yes-img {
    display: none;
}
footer {
    text-align: center;
    padding-top: 175px;
}
.whole {
    mix-blend-mode: multiply;
    filter: contrast(1);
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
